<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
  </head>
  <body>
    <form action="/moveLogin/newuser" method="POST">
      <span>아이디 : </span>
      <input type="text" name="newId" />
      <span>이름 : </span>
      <input type="text" name="newName" />
      <span>주소 : </span>
      <input type="text" name="newAddress" />
      <span>전화번호 : </span>
      <input type="text" name="newPhone" />
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
