<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Main.css" />
    <title>Main</title>
  </head>
  <body>
    <h1>사나이기백 커피 전문점</h1>
    <div class="selection">
      <button class="register" onclick="location.href='/moveRegister'">
        회원가입
      </button>
      <button class="login" onclick="location.href='/moveLogin'">로그인</button>
      <button class="menu" onclick="location.href='/moveMenu'">메뉴</button>
      <button class="mypage">마이페이지</button>
      <span>로그인여부체크할부분</span>
    </div>
  </body>
</html>
