<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Mypage.css" />
    <link rel="stylesheet" href="../Mypage.css" />
    <title>Mypage</title>
</head>
<body>
    <h1>마이페이지</h1>
    
</body>
</html>