<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Mypage.css" />
    <link rel="stylesheet" href="../Mypage.css" />
    <title>Mypage</title>
</head>
<body>
    <h1>마이페이지</h1>
    <p>고객아이디 : <%=memberId %></p>
    <p>고객이름 : <%=memberName %></p>
    <p>고객전화번호 : <%=memberPhone %></p>
    <p>고객주소 : <%=memberAddress %></p>
    <h1>주문내역</h1>
    <table>
        <thead>
            <tr>
                <th>주문번호</th>
                <th>주문날짜</th>
                <th>주문방식</th>
                <th>주문번호</th>
                <th>주문고객</th>
                <th>총금액</th>
                <th>총수량</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>