h1{
    color: aqua;
}

.MypageTable {
    border: 1px solid black ;
    width: 100%;
    border-collapse: collapse;
}

.MypageTable th, td{
    border: 1px solid black ;
    width: 10%;
    text-align: center;
}